.navbar-nav{
	display: flex;
	justify-content: end;
	margin-top : 50px;

	font-family: Pitchsans Semibold, sans-serif;
	font-size: 18px;
	font-weight: 100;
	line-height: 28px;

}
a{
	text-decoration: none;
	color: black;
	transition: opacity .2s;
}
ul{
	list-style-type: none;
}
.nav-item{
	padding-left: 20px;
	padding-right: 30px;
}
.nav{
	padding-right: 1030px;
}
.home{
	margin-top: 90px;
	padding-left: 90px;
	font-weight: 900;
}
.para{
	margin-top: 40px;
	padding-left: 90px;
}
.graph{
	margin-top: 40px;
	padding-left: 90px;	
}
body{
background: rgb(63,94,251);
background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
color: #fff;
}